nav ul {
	display: flex;
	flex: 1 1 20%;
	justify-content: space-around;
	align-items: center;
	list-style: none;/*pour enlever le point devant les liens*/
	background-color: #00C400;
	padding: 15px;
}
a
{
	text-decoration: none;
}